.chart {
    flex: 5;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    
    header {
        color: gray;
        margin-bottom: 1rem;
        text-align: left;
    }

    .chart-container {
        color: gray;
        font-size: 0.75rem;
        display: flex;
    }
}