.widget {
    flex: 1;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.32); 
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.32);
    border-radius: 5px;
    display: flex;
    padding: 1rem;
    align-items: stretch;
    justify-content: space-between;

    .count {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title {
            text-transform: uppercase;
            font-weight: bold;
            color: #ccc;
            font-size: 0.8rem;
        }
        .count-num {
            font-size: 1.5rem;
        }

        .link {
            color: gray;
            font-size: 0.75rem;
        }
    }

    .tend {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;

        .tend-num-area {
            display: flex;
            gap: 0.25rem;
            align-items: center;
            justify-content: center;
            color: green;
            font-weight: bold;
        }
       .icon {
           border-radius: 3px;
           padding: 0.25rem;
       }
    }
}